<!DOCTYPE html>
<html>
  <head>
    <title>MinesweeperApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='container mx-auto'>
      <% flash.each do |type, msg| %>
        <div class="alert alert-danger mt-2" role="alert">
          <% if msg.is_a?(Array) %>
            <% msg.each do |m| %>
              <p><%= m %></p>
            <% end %>
          <% else %>
            <%= msg %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <div class='container-fluid mx-auto'>
      <%= yield :fluid_content %>
    </div>
  </body>

</html>
